@*This names the website tab*@
@{
    ViewData["Title"] = "Delete";
}

@model Stat

<div class="text-center">
    <h2>Confirm Deletion</h2>

    <form method="post">

        <input type="hidden" asp-for="TaskId" />

        <button type="submit" class="btn btn-danger">Delete</button>
        <!-- add this line of code when I know the name of Eliza's page-->
        <a class="btn btn-info" asp-controller="Home" asp-action="Index">Cancel</a>
    </form>
</div>
